body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background: #c0900f;
  display: flex;
  border-color: #c0900f;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

nav {
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: #f4f4f4;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

nav a {
  margin: 0 10px;
  text-decoration: none;
  color: #333;
}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 20px;
  border: 2px solid #333; /* warna dan lebar garis pembatas */
}

#profile {
  max-width: 400px;
  margin: 20px auto;
  text-align: center;
}
.circle-container {
  display: inline-block;
  margin: 20px 10px;
}

.circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 2px solid #333; /* ketebalan garis */
  background-color: transparent; /* membuat bagian tengah kosong */
  background-size: 100%; 
}


.label {
  margin-top: 10px;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
}
#hasil-container {
  margin-top: 20px;
}

#hasil-pesan {
  border: 1px solid #ccc;
  padding: 10px;
}
